/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* style home page */

.home-container {
    width: 1000px;
    margin: 0 auto;
}

.content-home {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

/* style card movie */

.card-movie {
    height: 300px;
    width: 200px;
    border: 1px solid grey;
}

.img-card {
    display: inline-block;
    height: 200px;
    width: auto;
}