/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reset link */
a {
    text-decoration: none;
}

/* style home page */

.home-container {
    width: 1000px;
    margin: 0 auto;
}

.content-home {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    margin-top: 50px;
}

/* style card movie */

.card-movie {
    height: 400px;
    width: 300px;
    border: 1px solid grey;
    text-align: center;
}

.img-card {
    display: inline-block;
    height: 200px;
    width: auto;
    margin-top: 20px;
}

.img-card,
h5,
address,
p {
    margin-bottom: 10px;
}

.btn {
    padding: 7px 10px;
    background-color: mediumblue;
    color: white;
}

/* style loader */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;

    .spinner-border {
        width: 200px;
        height: 200px;
        font-size: 2rem;
    }
}